* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

@font-face {
    font-family: Logo;
    src: url("../fonts/Logo_Inter_Tight/InterTight-Italic-VariableFont_wght.ttf");
}

@font-face {
    font-family: Farbverlauf;
    src: url("../fonts/Farbverlauf_EB_Garamond/");
}

@font-face {
    font-family: Nav;
    src: url("../fonts/Nav_Comfortaa/");
}

@font-face {
    font-family: H2;
    src: url("../fonts/H2_Noto_Serif/NotoSerif-Bold.ttf");
}

@font-face {
    font-family: H3;
    src: url("../fonts/H3_Cormorant_Garamond/CormorantGaramond-Bold.ttf");
}

@font-face {
    font-family: Maven_Logo;
    src: url("../fonts/Maven_Pro/MavenPro-VariableFont_wght.ttf");
}

@font-face {
    font-family: Farbverlauf_Gilda;
    src: url("../fonts/Gilda_Display/GildaDisplay-Regular.ttf");
}

/* 
font-family: Logo, sans-serif;
font-family: Farbverlauf, sans-serif;
font-family: Nav, sans-serif;
font-family: H2, sans-serif;
font-family: H3, sans-serif;
font-family: Maven_Logo, sans-serif;
font-family: Farbverlauf_Gilda, sans-serif;
*/
header {
    background-color: rgb(61, 56, 56);
    height: 100vh;
}

header p:first-child {
    font-family: Maven_Logo, sans-serif;
    font-size: 1.0rem;
    width: 3vw;
    color: white;
}
#logo{
    padding: 0.5rem;
}

header section:first-of-type {

    background: rgb(238, 174, 202);
    background: linear-gradient(145deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    margin: 33vh auto;
    padding: 0.1rem;
    text-align: center;
    color: white;
    width: 11rem;

}

header section:first-of-type:hover {
    background: rgb(238, 174, 202);
    background: linear-gradient(290deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

header section h1 {
    font-family: Farbverlauf_Gilda, sans-serif;
    font-size: 3rem;
}

header section p {
    font-size: 0.8rem;
}

header nav {
    margin-top: -7rem;
    text-align: right;
    margin-right: 1rem;
}

header nav ul li {
    list-style: none;
    line-height: 1.7rem;
}


header nav ul li a {
    color: white;
    font-family: Nav, sans-serif;
    text-decoration: none;
}

header nav ul li:nth-of-type(1) {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.h2 {
    background-image: url("https://assets.website-files.com/5c8834f1555981170b2fd8b1/5c898cd67456ffcba141a5ff_PROJECTS.svg");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
}

.h2 h2 {
    font-size: 4rem;
    font-family: Farbverlauf_Gilda, sans-serif;
    padding-top: 50vh;
    padding-left: 5vw;
    text-align: left;
}

#blockText, #blockUnterText {
    text-align: left;
    padding-left: 5vw;
    margin-top: 0.5rem;
    width: 60vw;
    line-height: 1.7rem;
}





.Bild {
    background-color: green;
}

section1 article{
    background-color: green;
    margin: 0 20rem;
    2background-color: red;
    background-image: url("https://assets.website-files.com/5c898b1d37266625ec969a97/5d1a683945dd8900108648db_capa_pmu-grad.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    height: 80vh;
}




.Bild h3 {
    background-color: blue;
    font-family: Farbverlauf_Gilda, sans-serif;
    font-size: 2rem;
    padding-left: 15rem;
}