* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

@font-face {
    font-family: Logo;
    src: url("../fonts/Logo_Inter_Tight/InterTight-Italic-VariableFont_wght.ttf");
}

@font-face {
    font-family: Farbverlauf;
    src: url("../fonts/Farbverlauf_EB_Garamond/");
}

@font-face {
    font-family: Nav;
    src: url("../fonts/Nav_Comfortaa/");
}

@font-face {
    font-family: H2;
    src: url("../fonts/H2_Noto_Serif/NotoSerif-Bold.ttf");
}

@font-face {
    font-family: H3;
    src: url("../fonts/H3_Cormorant_Garamond/CormorantGaramond-Bold.ttf");
}

/* 
font-family: Logo, sans-serif;
font-family: Farbverlauf, sans-serif;
font-family: Nav, sans-serif;
font-family: H2, sans-serif;
font-family: H3, sans-serif;

*/
header{
    background-color: rgb(61, 56, 56);
    height: 100vh;
}

header p:first-child{
    font-family: Logo, sans-serif;
    background-color: blue;
    font-size: 1.0rem;
    width: 3vw;
    color: white;
}

section:first-of-type {

    background: rgb(238, 174, 202);
    background: linear-gradient(145deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    margin: auto;
    padding: 0.1rem;
    text-align: center;
    color: white;
}

section:first-of-type:hover{
    background: rgb(238, 174, 202);
    background: linear-gradient(290deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

h1{
    font-family: Farbverlauf, sans-serif;
    font-size: 3rem;

}